<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks's Menu :)</title>
</head>
<body>
    The menu is coming soon... once we figure out how to get more olive oil into it
</body>
</html>